.sp-filter-block-om {
    margin-bottom: 15px;
    padding: 16px 16px 0;
    border-radius: 10px;

    .site-head-block-om {
        cursor: pointer;
        margin-bottom: 0;

        .title-om {
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }

        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-width: 6.7px 5px 0px 5px;
            border-color: $h_color_2 transparent $h_color_2 transparent;
            border-style: solid;
            position: absolute;
            top: 5px;
            right: 0px;
            transition: 0.5s;

            @include dir {
                left: 0px;
                right: unset;
            }
        }

        &.collapsed {
            border: none;

            &::after {
                width: 0;
            }

            &::before {
                transform: rotate(90deg);

                @include dir {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .sp-filter-list-om {
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        .li-om {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        .butt-om {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            color: $h_color_2;
            display: flex;
            align-items: center;
            width: 100%;

            &:hover {
                color: $color_2;
            }

            .checkbox-group-om,
            .radio-group-om {
                margin-inline-end: 10px;
                margin-top: 5px;
                margin-bottom: 0;
            }

            .label-om {
                width: 100%;
                margin: 0 !important;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            &.active {
                color: $color_2;
            }
        }

        .sp-sublist-om {
            > .butt-om {
                margin-bottom: 10px;
                color: $h_color_2 !important;

                &:hover {
                    color: $color_2 !important;
                }
            }

            .li-om {
                padding-inline-start: 15px;
                margin-bottom: 10px !important;
            }

            .butt-om {
                color: rgba(36, 36, 36, 0.7);

                &:hover {
                    color: $color_2;
                }

                &.active {
                    color: $color_2;
                }
            }
        }
    }

    .sp-colors-list-om {
        display: flex;
        flex-wrap: wrap;

        .li-om {
            margin-bottom: 5px !important;
        }

        .butt-om {
            margin-inline-end: 12px;

            .checkbox-group-om,
            .radio-group-om {
                margin-inline-end: 0px;
                margin-top: 0px;
            }
        }
    }

    .sp-filter-price-list-om {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -7.5px;

        .li-om {
            display: flex;
            width: 50%;
            align-items: center;
            margin-bottom: 0 !important;
            padding: 0 7.5px;

            .text-om {
                margin-inline-end: 15px;
                color: $h_color_2;
                font-size: 14px;
                font-weight: normal;
            }

            .input-om {
                margin-bottom: 0;
                height: 30px;
                background-color: #f7f7fa;
                color: #8d8d8d;
                padding: 4px 10px;
            }
        }
    }
}
