
// navar-section__
.navar-section__ {
    position: relative;
    background-color: #fff;

    .close-butt__ {
        display: none;

        @include sm {
            display: none;
            background-color: rgba($h_color_1, 0.9);
            right: -40px;
            top: 0;
            z-index: 111;
            width: 40px;
            height: 40px;

            &::before,
            &::after {
                background-color: #fff;
                top: 10px;
                right: 17px;
            }

            @include dir {
                right: unset;
                left: -40px;
            }
        }
    }

    @include sm {
        position: fixed;
        top: 0;
        width: 320px;
        height: 100%;
        bottom: 0;
        // overflow-y: auto;
        left: -320px;
        transition: 0.5s;

        @include dir {
            right: -320px;
            left: unset;
        }

        &.active-menu {
            left: 0;
            z-index: 1111;

            @include dir {
                right: 0;
                left: unset;
            }

            .close-butt__ {
                display: block;
            }
        }
    }

    .nav-warper__ {
        display: flex;
        align-items: center;

        @include sm {
            display: block;
            overflow-y: auto;
            height: 100%;
        }
    }

   
}


// nav__ -large sizes
.nav__ {
    flex-grow: 1;

    .nav-list__ {
        display: flex;
        margin-bottom: 0;
        justify-content: center;

        @include sm {
            display: block;
            width: 100%;
            padding: 0;
        }

        > li {
            > a,
            > .link__ {
                font-size: 14px;
                font-weight: 500;
                color: $h_color_1;
                padding: 13px 20px;
                display: flex;
                align-items: center;

                &:hover {
                    color: $color_1;
                }

                @include sm {
                    padding: 12px 15px;
                    border-bottom: 1px solid #e8e8e8;

                    &:hover {
                        background-color: #e8e8e8;
                    }
                }

                &.discount-link__ {
                    color: #e61b42;

                    &:hover {
                        color: #e61b42;
                    }
                }

                &:hover {
                    // opacity: 0.7;
                }
            }
        }

        .dropdown__ {
            .sub-menu__ {
                min-width: 220px;
                left: 50%;
                transform: translateX(-50%);
                @include dir {
                    right: unset;
                }

                &::before {
                    left: 50%;
                    transform: translateX(-50%);
                    @include dir {
                        right: unset;
                    }
                }
            }
        }
    }
}
