.banner-block-om {
    display: block;
    margin-bottom: 25px;

    .figure-om {
        // 0.5132
        padding-bottom: 43.32%;
        overflow: hidden;

        &::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(
                left,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.3) 100%
            );
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.3) 100%
            );
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }

        &:hover {
            &::before {
                -webkit-animation: shine 0.75s;
                animation: shine 0.75s;
            }
        }
    }
}

.banner-second-block-om {
    display: block;
    margin-bottom: 25px;

    .figure-om {
        // 0.5829
        padding-bottom: 58.29%;
    }
}

.banner-third-block-om {
    display: block;
    margin-bottom: 25px;

    .figure-om {
        //0.3738
        padding-bottom: 37.38%;
    }

    &.banner-more-padd-block-om {
        .figure-om {
            //0.3738
            padding-bottom: 77.5%;
        }
    }
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}
