.breatcramp-section-om {
    background-color: #fff;
    padding: 10px 0 10px;
    margin-bottom: 35px;
    // margin-top      : -20px;

    .main-page-heading-om {
        font-size: 20px;
        font-weight: 500;
        color: $h_color_2;
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        .sub-om {
            color: #a0a8b7;
            font-weight: normal;
            font-size: 16px;
            margin-inline-start: 5px;
        }
    }
}

.breatcramp-om {
    display: flex;

    .li-om {
        padding-bottom: 8px;

        &:not(:last-child) {
            &::after {
                content: url(../images/next.svg);
                margin-inline-start: 12px;
                transform: rotateY(180deg);
                display: inline-flex;

                @include dir {
                    transform: none;
                }
            }
        }

        &:not(:first-child) {
            &::before {
                content: url(../images/next.svg);
                transform: rotateY(180deg);
                margin-inline-end: 12px;
                display: inline-flex;

                @include dir {
                    transform: none;
                }
            }
        }

        .link-om {
            font-size: 14px;
            font-weight: 500;
            color: $h_color_2;

            &:hover,
            &.current-om {
                color: $color_1;
            }

            &.current-om {
                pointer-events: none;
            }
        }
    }
}

.breatcramp_flex_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
        flex-direction: column;
    }
}

.breatcramp_contact_us__ {
    display: flex;
    align-items: center;
    .breat_contact_block {
        background-color: $color_1;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
        font-size: 16px;
        border-radius: 40px;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        transition: 0.5s;
        cursor: pointer;
        min-width: 154px;

        .figure-om {
            margin-inline-end: 5px;
        }

        &.whatsapp {
            background-color: #4caf50;

            &:hover {
                background-color: rgba(#4caf50, 0.8);
            }
        }

        &.add_ads {
            background-color: #c99b45;

            &:hover {
                background-color: rgba(#c99b45, 0.8);
            }
        }

        &:not(:last-child) {
            margin-inline-end: 10px;
        }
    }
}
