.breatcramp_section__ {
    background-color: #fff;
    padding         : 18px 0 10px;
    margin-bottom   : 35px;
    // margin-top      : -20px;

}

.breatcramp__ {
    display: flex;

    .li__ {
        padding-bottom: 8px;

        &:not(:last-child) {

            &::after {
                content            : url(../images/next.svg);
                margin-inline-start: 12px;
                transform          : rotateY(180deg);
                display            : inline-flex;

                @include dir {
                    transform: none;
                }
            }
        }

        &:not(:first-child) {
            &::before {
                content          : url(../images/next.svg);
                transform        : rotateY(180deg);
                margin-inline-end: 12px;
                display          : inline-flex;

                @include dir {
                    transform: none;
                }
            }
        }

        .link__ {
            font-size  : 14px;
            font-weight: 500;
            color      : $h_color_2;

            &:hover,
            &.current__ {
                color: $color_1;
            }

            &.current__ {
                pointer-events: none;
            }
        }
    }
}