.order-product-whtsapp-button-om {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4caf50;
    height: 48px;
    color: #fff;
    line-height: 1;
    transition: 0.5s;

    .text-om {
        margin-bottom: 5px;
    }

    .figure-om {
        margin-inline-end: 20px;
    }

    &:hover {
        background-color: rgba(#4caf50, 0.9);
        color: #fff;
    }
}
