.product-block-om {
    display: block;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding-bottom: 17px;
    overflow: hidden;

    // img block
    .product-img-block {
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;

        .img-block-om {
            display: block;
        }

        .figure-om {
            // height          : 215px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 70.8%;

            .img-om {
                max-width: 90%;
                max-height: 90%;
                object-fit: contain;
                width: auto;
                height: auto;
                right: unset;
                left: unset;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // .product-discout-om {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     height: 23px;
        //     padding: 0 10px;
        //     font-size: 12px;
        //     font-weight: normal;
        //     font-stretch: normal;
        //     font-style: normal;
        //     position: absolute;
        //     right: 10px;
        //     top: 10px;
        //     background-color: $h_color_1;
        //     color: #fff;
        //     direction: ltr;

        //     @include dir {
        //         right: unset;
        //         left: 10px;
        //     }
        // }

        .cart-fav-block {
            position: absolute;
            top: 10px;
            left: 10px;
            transition: 0.5s;
            opacity: 0;
            transform: scale(1);

            @include dir {
                left: unset;
                right: 10px;
            }

            .butt-om {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                background-color: #fff;
                border-radius: 50%;
                transition: 0.5s;

                &.fav-butt-om {
                    background-color: $color_2;

                    .fav-svg {
                        fill: none;
                        stroke: #fff;
                        transition: fill 0.5s ease;
                    }

                    &:hover {
                        background-color: rgba($color_2, 0.9);

                        .fav-svg {
                            fill: #fff;
                            transition: fill 0.5s ease;
                        }
                    }

                    &.favorite-product-active-om {
                        .fav-svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        &.change_img_size_ {
            .figure-om {
                padding-bottom: 58%;
            }
        }
    }

    // product_parg_
    .product_parg_ {
        font-size: 13px;
        margin-bottom: 15px;
        color: #737373;
    }

    // product desc
    .product-desc-om {
        display: block;
        padding: 0 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    // product-titile
    .product-titile-om {
        font-size: 15px;
        color: $h_color_2;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.71;
        // min-height: 51px;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
            color: $color_2;
        }
    }

    // product-prices
    .product-prices-om {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7px;

        .price-om {
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            color: $color_1;

            &.old-price-om {
                margin-inline-start: 6px;
                color: $p_color_2;
                text-decoration: line-through;
            }
        }
    }

    .cart_button__ {
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 145px;
        padding: 0 20px;
        background-color: #ffffff;
        border: 1px solid #e8e8e8;
        margin: auto;
        border-radius: 40px;
        color: #737373;
        font-size: 14px;
        transition: 0.5s;
        width: max-content;
        text-decoration: none;

        .svg-om {
            margin: 0;
            margin-inline-start: 5px;
        }

        &:hover {
            background-color: $color_1;
            color: #fff !important;
        }
    }
    // hover
    &:hover {
        // img block
        .product-img-block {
            .figure-om {
                .img-om {
                    transform: translate(-50%, -50%) scale(1.1);
                }
                img {
                    transform: scale(1.1);
                }
            }

            .show-fast-butt-om {
                bottom: 0;
            }

            .cart-fav-block {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
