.butt__ {
    background-color: transparent;
    border          : none;
    padding         : 0;
    display         : block;
    cursor          : pointer;
    outline         : none !important;
    transition      : 0.5s;
}