// dropdown menue
.dropdown__ {
    position: relative;

    > a,
    > .link__ {
        position: relative;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-width: 4.6px 3.4px 0px 3.4px;
            border-color: #fff transparent #fff transparent;
            border-style: solid;
            margin-inline-end: 8.6px;
            margin-top: 5px;
        }
    }

    .sub-menu__ {
        border-radius: 10px;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        display: table;
        position: absolute;
        top: 115%;
        background-color: #fff;
        z-index: -1;
        min-width: 140px;
        padding: 0;
        border: none;
        transform-origin: center 0;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        right: 0;
        left: unset;
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);


        @include dir {
            left: 0;
            right: unset;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 100%;
            border-style: solid;
            border-width: 0px 6px 6px 6px;
            border-color: #fff transparent;
            right: 23px;
            left: unset;

            @include dir {
                right: unset;
                left: 23px;
            }
        }

        .li__ {
            &:not(:last-child) {
                border-bottom: 1px solid #E8E8E8;
            }
            a,
            .link__ {
                font-size: 14px;
                font-weight: 300;
                display: block;
                text-decoration: none;
                text-transform: capitalize;
                transition: 0.5s;
                color: $h_color_2;
                padding: 15px 19px;

                &:hover {
                    color: $color_1;
                }

                @include sm {
                    opacity: 0.7;
                    text-align: unset;
                    padding: 6px 7px;
                }
            }
        }
    }

    &:hover {
        .sub-menu__ {
            visibility: visible;
            opacity: 1;
            z-index: 11;
        }
    }
}
