.footer-about__ {
    @include sm {
        padding-bottom: 20px;
    }
    .footer-logo__ {
        width: 190.9px;
        margin-bottom: 20px;

        @include sm {
            margin: 0 auto 20px;
            display: flex;
            justify-content: center;
        }
    }

    .footer-parag__ {
        line-height: 2.2;
        width: 62%;

        @include sm {
            width: 100%;
        }
    }
}
