.footer-download-blocks {
    display    : flex;
    align-items: center;

    @include sm {
        justify-content: center;
        margin-bottom: 20px;
    }

    .download-block__ {
        &:not(:last-child) {
            margin-inline-end: 14px;
        }
        .figure__ {
            width : 138px;
            height: 38px;
        }
    }
}