.footer-help__ {
    @include sm {
        margin-bottom: 20px;
    }
    .title__ {
        font-size    : 20px;
        font-weight  : bold;
        color        : $h_color_2;
        margin-top   : 0;
        margin-bottom: 10px;
        line-height  : 1.32;
    }

    .parg__ {
        color    : #64696C;
        font-size: 12px;
        margin   : 0;
    }
}

.footer-contact-info__ {
    display    : flex;
    align-items: center;

    @include xs {
        flex-wrap: wrap;
        justify-content: center;
    }
  
    .li__ {
        &:not(:last-child) {
            margin-inline-end: 20px;
        }
    }

    .footer-contact-block__ {
        display    : flex;
        align-items: center;

        @include xs {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .figure__ {
            width            : 48px;
            height           : 48px;
            display          : flex;
            align-items      : center;
            justify-content  : center;
            border-radius    : 50%;
            background-color : #2E4E86;
            padding          : 10px;
            margin-inline-end: 10px;
            transition: 0.5s;
            
            .img__ {}
            
            @include xs {
                margin-inline-end: 0;

            }
        }

        .desc__ {
            @include xxs {
                display: none;
            }
        }

        .contact-title__ {
            color        : $h_color_2;
            font-size    : 14px;
            margin-top   : 0;
            margin-bottom: 7px;
            transition: 0.5s;

            @include xs {
                margin-top: 10px;
            }
        }

        .contact-details__ {
            color        : $color_1;
            font-size    : 14px;
            font-weight  : 300;
            margin-bottom: 0;
            margin-top   : 0;
            transition: 0.5s;
        }

        &:hover {
            .figure__ {
                background-color : rgba(#2E4E86,0.9);
            }
    
            .contact-title__ {
                color        : rgba($h_color_2, 0.9);
            }
            
            .contact-details__ {
                color        : rgba($color_1, 0.9);
            }
        }
    }

}

