.footer-contacts-section__ {
    background-color: #fff;
    padding: 40px 0;

    @include sm {
        padding: 30px 0;
    }
    .footer-row__ {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include sm {
            flex-direction: column;
        }

        .col__ {
        }
    }
}

.footer-main-section__ {
    padding: 50px 0;
    background-color: $color_1_darker;

    @include sm {
        padding: 30px 0;
    }
}

.footer-copyriths__ {
    background-color: $color_1;
    padding: 10px 0;

}
