.password-group__ {
    position: relative;

    .input__ {
        padding-inline-end: 40px;
    }

    .show-password-button__ {
        position: absolute;
        top: 0;
        right: 0;
        height: 49px;
        display: flex;
        align-items: center;
        outline: none;
        width: 34px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        @include dir {
            right: unset;
            left: 0;
        }
        &:focus {
            outline: none;
        }

        &.show__ {
            .eye-path-cl__ {
                stroke: $color_1 !important;
            }

            .ss-line-through__ {
                display: none !important;
            }
        }
    }
}

.label__ {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}



.two_buttons_group__ {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -11px;
    
    > div {
        width: 50%;
        padding: 0 11px;
    }
}