.header__ {
    // margin-bottom: 0;
    position: relative;
    z-index: 11;

    .link_button___ {
        @include sm {

            margin: 0 auto;
        }
    }
}

.header_logo_wrapper__ {
    @include sm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.activate_menu_button__  {
    display: none;

    @include sm {
        display: block;
        color: #fff;
        background-color: $color_1;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

// logo-search-personal-data__
.logo-search-personal-data__ {
    background-color: #fff;

    .ss-wraper__ {
        // border-top: 1px solid rgba(#ffffff, 0.1);
        padding: 20px 0;
    }

  
}
