.header-om {
    // margin-bottom: 0;
    position: relative;
    z-index: 11;
}

// logo-search-personal-data-om
.logo-search-personal-data-om {
    background-color: $color_1;

    .ss-wraper-om {
        // border-top: 1px solid rgba(#ffffff, 0.1);
        padding: 20px 0;
    }

    // header > logo
    .header-logo-search-sec-om {
        display: flex;
        align-items: center;

        @include xs {
            flex-direction: column;
        }

        // this > header-logo-om > figure-om > img
    }

    // header > search

    // header > personal_data
}

// navar-section-om
.navar-section-om {
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #eaeaed;
    .close-butt-om {
        display: none;

        @include sm {
            display: none;
            background-color: rgba($h_color_1, 0.9);
            right: -40px;
            top: 0;
            z-index: 111;
            width: 40px;
            height: 40px;

            &::before,
            &::after {
                background-color: #fff;
                top: 10px;
                right: 17px;
            }

            @include dir {
                right: unset;
                left: -40px;
            }
        }
    }

    @include sm {
        position: fixed;
        top: 0;
        width: 320px;
        height: 100%;
        bottom: 0;
        // overflow-y: auto;
        left: -320px;
        transition: 0.5s;

        @include dir {
            right: -320px;
            left: unset;
        }

        &.active-menu {
            left: 0;
            z-index: 1111;

            @include dir {
                right: 0;
                left: unset;
            }

            .close-butt-om {
                display: block;
            }
        }
    }

    .nav-warper-om {
        display: flex;
        align-items: center;

        @include sm {
            display: block;
            overflow-y: auto;
            height: 100%;
        }
    }

    // header > all_categories

    // header > navbar

    // collapse block
    .collapse-block-om {
        .collapse-head-om {
            &::after,
            &::before {
                background-color: $h_color_1;
                width: 10px;
                height: 2px;
            }
        }
    }
}

.fixed-header-warper {
    // search icon in > layout > forms
    &.active-menu-om,
    &.not-active-menu-om {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 111;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.04);
        transition: 0s;
    }

    &.active-menu-om {
        animation: active-menu 0.5s;
    }

    &.not-active-menu-om {
        animation: not-active-menu 0.5s;
        transform: translateY(-100%);
    }
}

@keyframes active-menu {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes not-active-menu {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}
