.main-cart-page-om {
}

.cart-section-om {
    .row-om {
        margin: 0 -7.5px;

        @include sm {
            margin: 0;
            display: block;
        }

        .col-om {
            padding: 0 7.5px;

            @include sm {
                padding: 0;
            }
        }

        .col-om-1 {
            width: 65%;

            @include sm {
                width: 100%;
            }
        }

        .col-om-2 {
            width: 35%;

            @include sm {
                width: 100%;
            }
        }
    }

    .single_product_main_block__ {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.cart-pg-continue-shopping-link-om {
    min-width: 128px;
    margin-bottom: 40px;
    margin-top: 10px;
    display: inline-flex;
    width: auto;
}

.main-payment-page-om {
    padding-top: 50px;
    padding-bottom: 50px;

    .cart-pg-continue-shopping-link-om {
        margin: 0 0 10px;
    }
}

.user_addresses_ {
    .wrapper__ {
        padding-bottom: 0;
    }
}

.payment_addresses_group_ {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 24px;

    @include sm {
        display: block;
    }
}

.addreess_block_ {
    min-width: 220px;
    margin-bottom: 20px;
    min-height: 90px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    margin-inline-end: 15px;
    transition: 0.5s;
    cursor: pointer;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm {
        margin-inline-end: 0;
        min-width: 100%;
    }

    &.add_address_block_ {
        border-style: dashed;
        align-items: center;
        justify-content: center;
        color: #707070;
        font-size: 12px;
    }

    &:hover,
    &.active {
        border-color: #3587c6;
        background-color: rgba(#3587c6, 0.1);
        color: #3587c6;
    }

    .address_block_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .place_,
    .modify__ {
        display: flex;
        align-items: center;
        font-size: 12px;

        .svg-om {
            margin-inline-end: 3px;
        }
    }

    .delete_address {
        display: flex;
        cursor: pointer;
    }

    .modify__ {
        color: #707070;
        cursor: pointer;

        &:hover {
            color: #3587c6;
        }
    }
}

.shipping_companies__ {
    padding: 0 25px;
}
.shiping_method_block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px 0;
    margin-bottom: 5px;

    .price_,
    .label_wrapper_ {
        margin-bottom: 5px;
    }

    .price_,
    .text_ {
        font-size: 16px;
        color: #111112;
    }

    .text_ {
        margin-inline-start: 5px;
    }

    &.active {
        background-color: #f5f7fe;
    }
}

.payment_method_section_,
.your_orders__ {
    .head__ {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.payment_methods_blocks_ {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -7px;

    @include sm {
        margin: 0;
    }
    .col__ {
        padding: 0 7px;
        width: 50%;

        @include sm {
            padding: 0;
            width: 100%;
        }
    }
}

.payment_method_block_ {
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e2e5f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;

    .text_ {
        margin-inline-start: 5px;
        font-size: 16px;
        color: #b4bbce;
    }

    &.active {
        border-color: #3587c6;

        .text_ {
            color: #3587c6;
        }
    }
}

.payment_methods_tabs__ {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-bottom: 30px;

    .input-om {
        border-radius: 0;
    }

    .shape_of_input__ {
        .input-om {
            padding-inline-start: 47px;
        }
    }
}

.payment_method_tab_ {
    display: none;

    &.active {
        display: block;
    }
}

.cash_method_desc_ {
    li {
        font-size: 14px;
        color: #707070;
        margin-bottom: 10px;
    }
}

.your_orders__ {
    .head__ {
        margin-bottom: 20px;
    }
}

.locate_address_on_map_ {
    .head__ {
        font-size: 15px;
        color: $h_color_1;
        margin-bottom: 10px;

        padding: 0 18px;
    }

    .input-group-om {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 0 20px;

        .submit-butt-om {
            width: auto;
            min-width: 254px;
        }
    }
}

.map__ {
    width: 100%;
    height: 316px;
    margin-bottom: 10ox;

    .map_iframe {
        width: 100%;
        height: 100%;
    }
}

.map-modal-section-om {
    .modal-dialog {
        @media (min-width: 800px) {
            max-width: 740px;
        }
    }

    .modal-content {
        padding: 30px 0 10px;
    }
}

.address_success_message_ {
    padding: 0 20px;
    .submit-butt-om {
        max-width: 254px;
        margin: 0 auto 20px;
    }
}

.payment_opernations_tabs__ {
}

.payment_steps__ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e2e5f1;
    margin-bottom: 20px;

    .step_block__ {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #7f889f;

        @include sm {
            margin-bottom: 5px;
        }

        &:not(:last-child) {
            &::after {
                content: "";
                display: flex;
                width: 250px;
                height: 2px;
                background-color: #e2e5f1;
                margin: 0 10px;
                border-radius: 2px;

                @include sm {
                    display: none;
                    content: none;
                }
            }
        }

        .num_ {
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: 1px solid #e2e5f1;
            margin-inline-end: 5px;
        }

        &.active {
            color: #242424;

            .num_ {
                border-color: #3587c6;
                background-color: #3587c6;
                color: #fff;
            }
        }
    }
}

.thanks_for_your_order__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .head__ {
        font-size: 18px;
        font-weight: 500;
        margin: 0;

        @include sm {
            margin-bottom: 20px;
        }
    }

    .print_button__ {
        background-color: #fff;
        border-radius: 40px;
        height: 40px;
        min-width: 121px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        border: none;
        outline: none;

        &:hover {
            background-color: rgba(#fff, 0.8);
        }
    }
}

.order_details_section_ {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

    .order_head_ {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 24px;

        .num_ {
            margin-inline-start: 5px;
        }
    }
}

.track_order_blocks_ {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7fa;
    border-radius: 24px;
    margin-bottom: 30px;
    overflow: hidden;

    @include sm {
        flex-direction: column;
        border-radius: 0;
        background-color: transparent;
    }

    .track_block_ {
        width: (100% / 4);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7e859b;
        height: 24px;
        border-radius: 24px;
        padding: 0 10px;

        @include sm {
            width: 100%;
            margin-bottom: 10px;
            background-color: #f7f7fa;
        }

        .figure-om {
            margin: 0;
            margin-inline-end: 5px;
        }
        .text_ {
            margin: 0;
            font-size: 10px;
            position: relative;
            z-index: 11;
        }

        &.active {
            color: #fff;
            background-color: #38ae04;
            position: relative;

            &::before {
                content: "";
                display: block;
                height: 100%;
                width: 20px;
                background-color: #38ae04;
                position: absolute;
                top: 0;
                left: -10px;

                @include dir {
                    left: unset;
                    right: -10px;
                }

                @include sm {
                    display: none;
                }
            }
        }
    }
}

.track_order_address_method {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .block_ {
        width: 50%;
        padding: 10px;
        .title_ {
            font-size: 14px;
            color: $h_color_1;
            margin-bottom: 20px;
        }

        .desc__ {
            display: flex;
            align-items: center;
            color: #707070;
            font-size: 12px;
            font-weight: 500;
            .figure-om {
                margin-inline-end: 5px;
            }
        }
    }
}
