.main-account-page-om {
    padding: 50px 0;
}

.account_pages__ {
    .head__ {
        font-size: 18px;
        color: $h_color_2;
        font-weight: 500;
        margin-bottom: 4px;
        margin-top: 0;
    }

    .parg__ {
        font-size: 14px;
        color: $h_color_2;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.account_pages_list_ {
    .page_block {
        display: flex;
        align-items: center;
        height: 47px;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 14px;
        color: $h_color_2;
        text-decoration: none;
        margin-bottom: 5px;
        transition: 0.5s;

        .figure-om {
            width: 28px;
            height: 28px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            transition: 0.5s;
            margin-inline-end: 5px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .text_ {
        }

        &.active,
        &:hover {
            background-color: #fff;

            .figure-om {
                background-color: #f1f3f9;
            }
        }

        &.logout__ {
            color: #e61b42;
        }
    }
}

.account_page_main_section__ {
    .head__ {
        font-size: 25px;
        color: $h_color_2;
        margin-bottom: 5px;
    }

    .parg__ {
        color: #7f889f;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.my_order_block_ {
    text-decoration: none;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
        text-decoration: none;
    }
    .title_block__ {
        font-size: 18px;
        font-weight: 500;
        color: $color_1;
        margin: 0;
        padding: 15px;
        background-color: #f1f3fa;
        position: relative;

        .date_ {
            font-size: 14px;
            color: #7f889f;
        }
        .num_ {
        }

        &::after {
            content: url(../images/left_arrow.png);
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
}

.my_order_products_list_ {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5px;
    .col__ {
        width: 50%;
        padding: 5px;
    }
}

.my_order_product_ {
    display: flex;
    align-items: center;

    .figure-om {
        width: 70px;
        height: 70px;
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 10px;
        margin-inline-end: 15px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .desc__ {
    }

    .product_title_ {
        font-size: 14px;
        color: $h_color_2;
        margin-bottom: 8px;
    }

    .status__ {
        font-size: 13px;
        color: #2e4e86;
        display: block;

        &.cancel {
            color: #e61b42;
        }
    }
}

.my_account_modify_block_ {
    border-radius: 10px;
    overflow: hidden;

    .title_ {
        min-height: 46px;
        padding: 5px 20px;
        background-color: #f1f3fa;
        font-size: 15px;
        color: $h_color_2;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .my_account_form_block_ {
        background-color: #fff;
        padding: 15px 20px;
    }

    .submit-butt-om {
        min-width: 135px;
        margin-inline-start: auto;

        @include sm {
            width: 100%;
        }
    }

    .submit_butt_wrapper_ {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        @include sm {
            display: block;
        }
    }

    .unsubscribe_for_news_letter {
        font-size: 14px;
        color: #e61b42;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
            content: url(../images/unsbscribe_.png);
            margin-inline-end: 5px;
            display: flex;
            height: 24px;
        }

        @include sm {
            margin-bottom: 10px;
        }
    }

    .phone_input_group_ {
        display: flex;
        align-items: center;

        .selct-options-om {
            width: 108px !important;
        }
    }

    .input-om {
        border-radius: 0;
    }
}

.my_fav_products__ {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px 0;
}
